
* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    width: 100%;
    font-size: 14px; 
    padding: 0;
    margin: 0;
}
.title {
    font-weight: 900;
    line-height: 1.1;
    text-rendering: optimizeLegibility;
  }
a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

  }

  .title{
    font-size: 20px;
    font-weight: bold;
}

  li{
    margin: 10px 0px;
    margin-left: 20px;
  }
  
  .header {
    margin-bottom: 2.4rem;  
  }
  .header .title {
    font-size: 2.5rem;
    margin-top: 1.7rem;
    margin-bottom: 0;
  }
  .header .title > a {
    color: black;
  }
  
  .footer {
    margin-top: 2rem;
  }
  .footer .title {
    font-size: 1.44rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer .title > a {
    color: var(--primary-color-light);
  }
  
  .links {
    margin-top: 2rem;
    display: flex;
  }
  
  .links *:nth-child(1) {
    flex: 1;
    text-align: left;
  }
  
  .links *:nth-child(2) {
    flex: 1;
    text-align: right;
  }

  pre{
    margin: 20px 0px;
    color: white;
    padding: 10px;
    background-color:#1e1e1e;
    font-family: monospace;
    border-radius: 8px;
  }

  code{
    font-family: monospace;
  }
  
  .content hr {
    background: hsla(0,0%,0%,0.2);
    border: none;
    height: 1px;
  }
  
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    font-weight: 900;
    line-height: 1.1;
    margin-top: 3.5rem;
    text-rendering: optimizeLegibility;
  }
    
  /**
  * Based on copypasta from Remy Bach and Sarah Drasner
  */
  .content code,
  .content pre {
    color: white;
    font-feature-settings: normal;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
  }
    
  /* Code blocks */
  .content pre {
    overflow: auto;
    padding: 1em;
  }
  
  .content :not(pre) > code,
  .content pre {
    background: hsla(0,0%,0%,0.9);
  }
    
  .content pre::-moz-selection,
  .content pre::selection {
    background: hsl(207, 4%, 16%);
  }
    
  /* Text Selection colour */
  .content pre::-moz-selection,
  .content pre ::-moz-selection {
    text-shadow: none;
    background: hsla(0, 0%, 100%, 0.15);
  }
  
  .content pre::selection,
  .content pre ::selection {
    text-shadow: none;
    background: hsla(0, 0%, 100%, 0.15);
  }
  
  /* Inline code */
  .content :not(pre) > code {
    border-radius: .3em;
    background: rgba(255,229,100,0.2);
    color: #1a1a1a;
    padding: .15em .2em .05em;
    white-space: normal;
  }
  .content a > code {
    color: var(--primary-color);
  }
  
  .content :global(.highlighted-line) {
    background-color: hsla(207, 95%, 15%, 1);
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #ffa7c4;
  }
  
  .content :global(.token.attr-name) {
    color: rgb(173, 219, 103);
    font-style: italic;
  }
  
  .content :global(.token.comment) {
    color: rgb(99, 119, 119);
  }
  
  .content :global(.token.string),
  .content :global(.token.url) {
    color: rgb(173, 219, 103);
  }
  
  .content :global(.token.variable) {
    color: rgb(214, 222, 235);
  }
  
  .content :global(.token.number) {
    color: rgb(247, 140, 108);
  }
  
  .content :global(.token.builtin),
  .content :global(.token.char),
  .content :global(.token.constant),
  .content :global(.token.function) {
    color: rgb(130, 170, 255);
  }
  
  .content :global(.token.punctuation) {
    color: rgb(199, 146, 234);
  }
  
  .content :global(.token.selector),
  .content :global(.token.doctype) {
    color: rgb(199, 146, 234);
    font-style: 'italic';
  }
  
  .content :global(.token.class-name) {
    color: rgb(255, 203, 139);
  }
  
  .content :global(.token.tag),
  .content :global(.token.operator),
  .content :global(.token.keyword) {
    color: #ffa7c4;
  }
  
  .content :global(.token.boolean) {
    color: rgb(255, 88, 116);
  }
  
  .content :global(.token.property) {
    color: rgb(128, 203, 196);
  }
  
  .content :global(.token.namespace) {
    color: rgb(178, 204, 214);
  }
  


@media screen and (max-width: 450px) {
    *{
        font-size: 10px;
    }
  }

.language-javascript{
    width: 100%;
}

.button, button{
    padding: 8px 12px;
    background-color: rgb(13, 0, 255);
    color: white;
    border-radius: 8px;
}

.button:hover, button:hover{
    background-color: rgb(51, 40, 255);
}

.m-top50{
    margin-top: 50px;
}



.m-bottom30{
    margin-bottom: 30px;
}

main, .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.75;
}

.image{
  border-radius: 50%;
}

.dateAndKey{
    width: calc(100% - 5px);
    background-color: rgb(205, 205, 205);
    padding: 10px 0px 10px 5px;
    border-radius: 8px;
    margin-bottom: 40px;
}

h2{
    margin-top: 30px;
}

.containerImg{
    width: 100px;
    height: 100px;
}

.containerInfo{
    width: calc(100% - 80px)
}

.title{
    margin-bottom: 5px;
}
.keyFilter{
    font-weight:bold;
    margin-bottom: 15px;
}